/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.magician-logo {
    height: 128px;
    width: 128px;
}

.icon-block .magician-about-icon {
    font-size: 96px;
    height: 96px;
    width: 96px;
}

.section {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.card-reveal p {
    text-align: left;
}